<section class="sen" >
    <div class="container">
       
        <div class="screen">
            
            <div class="screen__content">
                <form class="login" [formGroup]="loginForm">
                    <h1 style="color:white" class="qw" >Sign in Here</h1>
                    
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <h6 style="color:white" class="qwz">Email Address</h6>
                      <input type="email" class="login__input" placeholder="User name / Email" style="border-radius:50px;width:300px" name="email" required  formControlName="email">
                      <div *ngIf="email && email.invalid && email.touched" class="alert alert-danger">email is valid
                        </div>
                
                    </div>
                    <div class="login__field">
                        <h6 style="color:white" class="qwz">password</h6>
                        <i class="login__icon fas fa-lock"></i>
                        <input type="Password" class="login__input" name="Password"   placeholder="Password" style="border-radius:50px;width:300px"  name="Password" required formControlName="Password">
                        
                
                   <a routerLink="/Register"><button class="button login__submit bcv" style="border-radius:50px;width:300px; height:50px;" type="submit">
                        <span class="button__text bt">Log In Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>	
                    </a>
                    </div>
                </form>
                   	
                <div class="social-login">
                    
                    <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div>
                </div>
                </div>
        
            <div class="screen__background">
                <span class="screen_backgroundshape screenbackground_shape4"></span>
                <span class="screen_backgroundshape screenbackground_shape3"></span>		
                <span class="screen_backgroundshape screenbackground_shape2"></span>
                <span class="screen_backgroundshape screenbackground_shape1"></span>
            		
            
        </div>
        </div>
        </div>
        </section>


        
        


        
        