<!--<h1>{{title}}</h1>

<input type="text" (keydown)="changeFirstName(myFirstName)"  [(ngModel)]="myFirstName">
<button type="button" style="color:black">change</button>
<select (change)="changeFirstName(myFirstName)" [(ngModel)]="myFirstName">
  <option value="first">first</option>
  <option value="second">second</option>
</select>
<app-home></app-home>-->
<app-header></app-header>
<!--<app-about></app-about>-->
<router-outlet></router-outlet>
<app-footer></app-footer>
<!--<div class="banner">
    
    <div class="navbar">
        <img src="" class="logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Bedroom</a></li>
            <li><a href="#">Dining</a></li>
            <li><a href="#">Kitchen</a></li>
            <li><a href="#">Backyard</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>DESIGN YOUR HOUSE</h1>
        <p>Subscribe Easy Tutorials YouTube Channel to watch 
            more videos,<br> press the bell icon to get latest updates.</p>
            <div>
                <button type="button"><span></span>WATCH MORE</button>
                <button type="button"><span></span>SUBSCRIBE</button>
            </div>
    </div>
</div>

<section class="events">
    <div class="title ">
        <h1>Upcoming Events</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-5">
            <img class="z" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-3d-contemporary-living-room-interior-and-modern-furniture-png-image_4093673.jpg" alt="">
           <h4 class="h8">Everest Camp Trek</h4>
             <p class="p1">Lorem, ipsum dolor sit amet consectur adipiscing elit. Voluptatibus qui,iure possimus libero expedita incidunt!</p>
            <a href ="#" class=" btn btn-outline-danger ctn1">Learn More</a>
        </div>
        <div class="col-sm-5">
            <img class="x" src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-3d-contemporary-living-room-interior-and-modern-furniture-png-image_4293757.jpg" alt="">
            <h4 class="h9">Walking Holidays</h4>
            <p class="p2">Lorem, ipsum dolor sit amet consectur adipiscing elit. Voluptatibus qui,iure possimus libero expedita incidunt!</p>
            <a href ="#" class=" btn btn-outline-danger ctn2">Learn More</a>
        </div>
        <div class="col-sm-1">
            
        </div>
    </div>
    </section>
    <div class="cx">
        <div class="container">
            <div class="row">
            <div class="col-sm-6 g">
                <h1>Organically grow the
                    
                    holistic world view
                    </h1>
            <br>
            <div class="ws">
                <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3 ">
            <img class="xc" src="https://i.pinimg.com/736x/d3/14/3c/d3143c3c38f4c95960f4791579a238e2.jpg">
  
        </div>
        </div>
        </div>
    </div>
    <div class=" container-fluid zs">
    <h1 class="kj">Meet The Team Our Professionals</h1>
    <div class="line1"></div>
    <div class="row">
    <div class="col-sm-3">
        <img class="ia" src="https://assets.entrepreneur.com/content/3x2/2000/20181010195657-BeatriceHeadshot1.jpeg">
         
    </div>
    <div class="col-sm-3">
        <img class="ib" src="https://design.pambianconews.com/wp-content/uploads/sites/13/2021/07/Gilberto-Negrini_01.jpg">
      
    </div>
    <div class="col-sm-3">
        <img class="ic" src="https://ifdm.design/wp-content/uploads/2022/06/Daniel-Lalonde-CEO-Design-Holding.jpg">
       
    </div>
    <div class="col-sm-3">
        <img class="id" src="https://content.fortune.com/wp-content/uploads/2015/11/mariam-naficy-10-2014-e1448328526403.jpg">
       
    </div>
</div>
<div class="row">
     <div class="col-sm-3">
    <h3 class="aa">Chemmis<br>hezanberg</h3>
     </div>
      <div class="col-sm-3">
    <h3 class="bb">Kiray<br> husain</h3>
      </div>
       <div class="col-sm-3">
    <h3 class="cc" >Joe <br> packav</h3>
       </div>
        <div class="col-sm-3">
    <h3 class="dd">Liv <br> morgan</h3>
        </div>

</div>
</div>
   <div class="bg-1 ">
    <h1 class="we">Start today to get more exposure and grow your business</h1>
    <button type="button" class="button1 wes btn btn-danger">Primary</button>
    <button type="button" class="button2 wes btn btn-warning">Warning</button>
   
   </div>
   <div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Products</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Accounts</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Resources</h1>
      <ul>
        <li>Webmail</li>
        <li>Redeem code</li>
        <li>WHOIS lookup</li>
        <li>Site map</li>
        <li>Web templates</li>
        <li>Email templates</li>
      </ul>
    </div>
    <div class="col">
      <h1>Support</h1>
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
        <li>Open ticket</li>
      </ul>
    </div>
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
      </ul>
    </div>
  <div class="clearfix"></div>
  </div>
  </div>
  <!-- END OF FOOTER -->